argcomplete==3.2.2
attrs==23.2.0
blinker==1.9.0
Brlapi==0.8.5
charset-normalizer==3.4.2
click==8.3.1
cockpit @ file:///builddir/build/BUILD/cockpit-344/tmp/wheel/cockpit-344-py3-none-any.whl#sha256=6c0da7c2cbfb1207f38f238b3011ff193c786540a0404088b52184bb35356ba0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
distro==1.9.0
dnf==4.20.0
file-magic==0.4.0
Flask==3.1.3
idna==3.7
iniparse==0.5
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
langtable==0.0.65
libcomps==0.1.21
libdnf==0.73.1
louis==3.28.0
lxml==5.2.1
MarkupSafe==3.0.3
mysql-connector-python==9.6.0
nftables==0.1
packaging==24.2
perf==0.1
pexpect==4.9.0
psutil==5.9.8
ptyprocess==0.7.0
pycairo==1.25.1
pycups==2.0.1
pyenchant==3.2.2
PyGObject==3.46.0
pyinotify==0.9.6
python-dateutil==2.9.0.post0
python-linux-procfs==0.7.3
python-pam==2.0.2
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
pyynl @ file:///builddir/build/BUILD/kernel-6.12.0-124.43.1.el10_1/linux-6.12.0-124.43.1.el10_1.x86_64/tools/net/ynl
referencing==0.31.1
requests==2.32.4
rpds-py==0.17.1
rpm==4.19.1.1
selinux @ file:///builddir/build/BUILD/libselinux-3.9/src
sepolicy @ file:///builddir/build/BUILD/selinux-3.9/python/sepolicy
setools==4.5.1
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35/src
setuptools==69.0.3
six==1.16.0
sos==4.10.1
subscription-manager==1.30.10.1
systemd-python==235
urllib3==1.26.19
Werkzeug==3.1.6
